<div style="display:grid; grid-template-columns: repeat(2, 1fr); grid-gap: 16px">
  {{ range sort .Site.Data.talks.talks "date" }}
  {{ $talk := . }}
  <div>
    <h4>{{ $talk.title }}</h4>
    <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
      <iframe src="//www.youtube.com/embed/{{ path.Base $talk.url }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen="" title="{{ $talk.title }}"></iframe>
    </div>
  </div>
  {{ end }}
</div>